.products{
    margin-left: 30px;
    font-size: 16px;
}

.managarmsg-1 {
    padding: 0px 100px;
    margin-left: 100px;
}

.header-managar-msg {
    padding: 0px 100px;
    margin-left: 100px;
}

.manager-msg-padding{
    padding: 10px 20px;
}

.vision-div{
    background-image: linear-gradient(rgba(185, 178, 67, 0.712), rgb(255, 255, 255));
}

.mission-div{
    background-image: linear-gradient(rgba(68, 25, 25, 0.712), rgb(72, 146, 142));
}

.Strength-div{
    background-image: linear-gradient(rgba(45, 59, 138, 0.712), rgb(94, 184, 86));
}
