.award1-div{
    background-color: gold;
}

.award2-div{
    background-color: yellowgreen;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  
.award1-div {
    padding: 10px 0px;
}

.award2-div {
    padding: 10px 0px;
}






