.hr1{
    background-color: #FAFAFA;
    height: 3px;
    
    }
    .mapouter {
        position: relative;
        text-align: right;
        height: 450px;
        width: 750px;
    }

    .gmap_canvas {
        overflow: hidden;
        background: none !important;
        height: 450px;
        width: 750px;
    }

    